<div class="title">
  <h2>
    Choose one Album to Review
  <h2>
  <ul class="nobullet">
    <%@works_array.apidata.each_with_index do |album, index|%>
      <li><%=link_to album["name"], "/works/#{@works_array.id}/#{index}"%></li>
    <%end%>
  </ul>
</div>
