/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   font-family: "Arial", sans-serif;
 }
 .devise {
   text-align: center;
 }
 .nobullet{
   list-style-type: none;
 }
 .nobullet > li {
   padding: 5px;
 }
 .bigdiv{
   border-left: 50px solid black;
   border-right: 50px solid black;
   border-bottom: 15px solid black;
 }
 .sitetitle {
  border-bottom: 15px solid black;
  border-top: 15px solid black;
 }
 .login {
 }
.title{
  text-align: center;
}
.reviewtext{
   word-wrap: break-word;
   white-space: pre-wrap;
   padding-left: 10px;
   padding-right: 10px;
 }
.reviewimg{
  max-width: 400px;
  max-height: 500px;
  margin: 30px;
  border: 3px solid black;
  float: left;
}
.tracklist{
  padding-left: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.centerimg {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 7px;
  background-color: black;
}
.centerimg > ul {
  list-style-type: none;
}
.titlelist{
  width: 500px;
  border: 3px solid black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.titlelist h3 {
  text-align: center;
}
.movielist {
  background: black;
  border: 4px solid grey;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.movielist > ul {
  text-align: center;
  display: inline-block;
}
.movielist > li {
  padding: 5px;
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 150%;
  width: 800px;
}
.smallmimg{
  height: 150px;
  border: 2px solid grey;
  float: left;
}
.smallmimg:hover, .smallmimg:active {
  border: 10px solid black;
}
.smallbimg:hover, .smallbimg:active {
  border: 10px solid white;
}
.smallaimg:hover, .smallaimg:active {
  border: 10px solid grey;
}
.booklist {
  background: white;
  border: 4px solid black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.booklist > ul {
  text-align: center;
  display: inline-block;
}
.booklist > li {
  padding: 5px;
  text-align: center;
  display: inline-block;
  color: black;
  font-size: 150%;
  width: 800px;
}
.smallbimg {
  height: 150px;
  border: 2px solid black;
  float: left;
}
.albumlist {
  background: grey;
  border: 4px solid black;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  text-align: center;
}
.albumlist > ul {
  text-align: center;
  display: inline-block;
}
.albumlist > li {
  padding: 5px;
  text-align: center;
  display: inline-block;
  color: white;
  width: 800px;
}
.smallaimg {
  height: 150px;
  border: 2px solid black;
  float: left;
}

.backdrop{
  margin-left: auto;
  margin-right: auto;
  margin: 30px;
  border: 3px solid black;
}
ul.nav {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 0;
    overflow: hidden;
}
li.navli {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.ital {
  font-style: italic;
}
a.navlink:link, a.navlink:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}
a.movielink, a.movielink:visited {
  background-color: black;
  color: white;
  border: 2px solid black;
}
a.albumlink, a.albumlink:visited {
  background-color: grey;
  color: white;
  border: 2px solid black;
}
a.booklink, a.booklink:visited {
  background-color: white;
  color: black;
  border: 2px solid black;
}
a.navlink:hover, a.navlink:active {
  background-color: grey;
}
a.albumlink:hover, a.albumlink:active {
  background-color: white;
  color:black;
}
