<h2>All Movie Reviews</h2>
<ul>
  <%@reviews.each do |review|%>
    <li><img class="smallimg" src=<%=Work.find(review.work_id).apidata['Poster']%>> <%=link_to "#{review.name.titleize} -- '#{review.title}' by #{review.user.email}", review_path(review)%></li>
  <%end%>
</ul>

<%=link_to "New Review", new_review_path%>
